body{
    display: flex;
    font-family: Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 97vh;
    background-image: url(free-vector.webp);
    margin-right: 30vw;
}


a{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    background-size: contain;
    padding:1vw 10vw 1vw 1vw;
    transition: 0.2s linear;
}

a:hover{
    background-color: #e9e8ea;
    border-radius: 2vh;
    color: black;
    background-size: contain;
}

.navbar{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 1px 5px 4px 2px; */

}

.nav{
    padding: 3vw  3vw 3vw 3vw;
}
.navbar-items{
    display: flex;
    flex-direction: column;
    justify-content: right; 
    border-radius: 1vw;
    /* padding-top: 4vh; */
    margin: 0.2vw;
    color: #000000;
    background-color: rgb(98, 11, 209,0.5);
    height: 100%;
    width:20vw;
    left: 0;
    padding: 0vh;
}
.navbar-items>li{
    list-style: none;
    padding: 2vh;
}
#submit-btn{
    /* margin: -5vh 0 0 38vh; */
    background: none;
	border:none;
	cursor: pointer;
	outline: inherit;
    color: rgb(18, 1, 1);
    font-size:1.6vh;
    border-radius: 4vh;
    padding: 0px;
    background-blend-mode: hue;
    filter: blur(0.2px);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);   
    width:6vw;
    height: 4vh;
    transition: 0.2s ease-in-out;
}
#submit-btn:hover{
    background-color: #620BD1;
    color: white;

}   

