body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 97vh;

    background-image: url(reg-back.webp);
    /* Note: backdrop-filter has minimal browser support */
    margin-left:10vw ;
    font-family: Jetbrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: lighter;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 3vw;
    color: #55304e;
    padding-left: 0;
    transition: 0.5s ease-in-out;

}

a:hover{
    color: rgb(109, 191, 191);
    padding-left: 0.3vw;
    
}

li{
    list-style: none;
    padding-top: 2vh;
}
.front{
    padding-right: 5vw;
    width: 50vw;

}

.front-image{
    /* height: 100vh; */
    overflow-y:hidden ;
    border-radius: 200vw;
    /* filter: grayscale(0.8); */
}
.introduction{
    color: rgb(255, 250, 250);
}


.front p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }